@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");


body {
    font-family: "Montserrat", sans-serif;
    background-color: #dddddd;
    background-image: url(images/okc\ logo.png);
    background-size: auto;
    background-position: top left;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2.5rem;
    color: #222831;
    text-align: center;
    letter-spacing: 0.4rem;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
    width: 90%;
    max-width: 30rem;
}

section input {
    width: 100%;
    border: none;
    padding: 1rem;
    border-radius: 1.5rem;
    margin-bottom: 1rem;
    color: gray;
    font-size: 1rem;
    box-sizing: border-box;
}

section button {
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 1.5rem;
    background-color: #add8e6;
    color: black;
    font-size: 1rem;
    cursor: pointer;
}

resultados pesquisa {
    width: 90%;
    max-width: 60rem;
    height: 46vh;
    overflow-y: auto;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 0.6rem;
}

.item-resultado {
    background-color: #ffffff;
    border-radius: 0.6rem;
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.item-resultado h2 {
    font-size: 1.5rem;
    color: #222831;
}

.item-resultado a {
    text-decoration: none;
    color: #30475E;
}

.item-resultado a:hover {
    text-decoration: underline;
}

.descricao-meta {
    color: #45474b;
    margin: 0.5rem 0;
}

footer {
    background-color: #ffa700;
    color: black;
    text-align: center;
    padding: 0;
    width: 100%;
    position: absolute;
    bottom: 0;
    font-size: 1rem;
    position: static;
}

@media (max-width: 768px){
    h1 {
        font-size: 2rem;
        letter-spacing: 0.2rem;
    }
    section input{
        font-size: 0.9rem;
    }
    .item-resultado h2{
        font-size: 1.3rem;
    }
    footer{
        font-size: 0.9rem;
    }
}
@media(max-width: 480px) {
    h1{
        font-size: 1.8rem;
        letter-spacing: 0.2rem;
    }
    section button{
        font-size: 0.9rem;
        padding: 0.6rem 1rem;
    }
    .item-resultado h2{
        font-size: 1.2rem;
    }
    .resultados-pesquisa {
        height: auto;
    }
    footer{
        font-size: 0.8rem;
    }
}